<header>
    <div class="app">
        <img alt="ANIN - Autoridad Nacional de Infraestructura" src="assets/img/logo-anin-4.webp">
        <span class="nombre-app">Sistema de Gestión de Contratos Menores</span></div>
    <div class="usuario">
        <span class="user">{{siglas_usuario}}
        </span>
    </div>
</header>
<main>
    <div>
        <div>
            <span class="red">4</span>
            <span class="red">0</span>
            <span class="red">4</span>
        </div>
        <div class="mensaje-404">
            Página no encontrada
        </div>
    </div>
</main>
