<header>
    <div class="app">
        <button class="btn-open-menu" type="button" (click)="MostrarMenu()"><i class="mdi mdi-menu-close"></i></button>
        <img alt="ANIN - Sistema de Gestión de Contratos Menores" src="assets/img/logo-anin-4.webp">
        <span class="nombre-app">Sistema de Gestión de Contratos Menores</span>
    </div>
    <div class="usuario">
        @if(alertas){
            <button type="button" class="campana" title="Alertas" aria-label="Alertas" (click)="ActivarCampana()">
                <i class="mdi mdi-bell-outline"></i>
                @if(totalAlertas > 0){
                    <span class="campana__badge" [class.campana__badge--vencido]="hayVencidoNuevo">{{ totalAlertas > 99 ? '99+' : totalAlertas }}</span>
                }
            </button>
        }
        @if(campana_activa && alertas){
            <div class="campana__panel">
                <div class="campana__resumen">
                    @if(alertas.Nuevas){ <span class="campana__chip campana__chip--nueva">{{ alertas.Nuevas }} {{ alertas.Nuevas === 1 ? 'nueva' : 'nuevas' }}</span> }
                    <span class="campana__chip campana__chip--vencido">{{ alertas.Vencidos }} vencidos</span>
                    <span class="campana__chip campana__chip--vence">{{ alertas.PorVencer }} por vencer (7 días)</span>
                    <span class="campana__chip">{{ alertas.Pendientes }} por atender</span>
                </div>
                @if(alertas.Modulos.length){
                    <div class="campana__modulos">
                        @for(m of alertas.Modulos; track m.CodigoModulo){
                            <button type="button" class="campana__modulo" (click)="AbrirModulo(m)">
                                <span>{{ m.Modulo }}</span>
                                <span class="campana__conteos">
                                    @if(m.Vencidos){ <b class="campana__tipo--vencido">{{ m.Vencidos }}</b> }
                                    @if(m.PorVencer){ <b class="campana__tipo--vence">{{ m.PorVencer }}</b> }
                                    @if(m.Pendientes){ <b>{{ m.Pendientes }}</b> }
                                </span>
                            </button>
                        }
                    </div>
                }
                @if(alertas.Items.length){
                    <ul>
                        @for(item of alertas.Items; track item.IdExpediente + item.Tipo){
                            <li [class.campana__item--nueva]="item.Nueva">
                                <a href="javascript:void(0)" (click)="AbrirAlerta(item)">
                                    <span class="campana__tipo" [class.campana__tipo--vencido]="item.Tipo === 'VENCIDO'" [class.campana__tipo--vence]="item.Tipo === 'POR_VENCER'">
                                        @if(item.Nueva){ <i class="campana__punto" aria-label="Nueva"></i> }
                                        {{ EtiquetaTipo(item.Tipo) }} · {{ item.Modulo }}
                                    </span>
                                    <strong>{{ item.Codigo }}</strong>
                                    @if(item.Descripcion){ <small>{{ item.Descripcion }}</small> }
                                    <small>{{ item.Estado }}@if(item.FechaLimite){ · vence {{ item.FechaLimite | date:'dd/MM/yyyy' }}}</small>
                                </a>
                            </li>
                        }
                    </ul>
                } @else {
                    <p class="campana__vacio">Sin alertas pendientes.</p>
                }
            </div>
        }
        <span class="user" (click)="ActivarMenu()">{{siglas_usuario}}
            <svg viewBox="0 0 16 16" width="12" height="12" fill="currentColor" style="--color: var(--primary-icon);"><g fill-rule="evenodd" transform="translate(-448 -544)"><path fill-rule="nonzero" d="M452.707 549.293a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L456 552.586l-3.293-3.293z"></path></g></svg>
        </span>
        @if(menu_activo){
            <nav class="sub-menu">
                <ul>
                    <li>
                        <a href="javascript:void(0)" >
                            <span class="user">{{siglas_usuario}}</span>&nbsp;&nbsp;{{nombre_usuario}}<br>
                            <span class="perfil">&nbsp;&nbsp;&nbsp;{{perfil_usuario}}</span>
                        </a>
                    </li>
                    <li><hr></li>
                    <li>
                        <a href="#" (click)="Salir($event)">
                            <i class="mdi mdi-logout"></i>&nbsp;&nbsp;Cerrar sesión
                        </a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</header>
<div class="app-container">
    <nav class="menu inactive">
        <div>
            <button class="btn-close-menu" (click)="OcultarMenu()" type="button">
                <i class="mdi mdi-menu-open"></i>
            </button>
        </div>
        <ul>
            <li *ngFor="let item of menu">
                <ng-container *ngIf="item.hijos.length == 0">
                    <a [routerLink]="item.url" routerLinkActive="active-link">
                        <span><i class="mdi {{item.icono}}"></i></span>
                        <span>{{item.nombre_menu}}</span>
                    </a>
                </ng-container>
                <ng-container *ngIf="item.hijos.length > 0">
                    <a class="menu-toogle" [attr.data-id-menu]="item.id_menu"
                        (click)="ExpandirMenu(item.id_menu)" routerLinkActive="active-link">
                        <span><i class="mdi {{item.icono}}"></i></span>
                        <span>{{item.nombre_menu}}</span>
                        <span></span>
                    </a>
                    <ul>
                        <li *ngFor="let item_hijo of item.hijos">
                            <a [routerLink]="item_hijo.url" routerLinkActive="active-link">
                                <span><i class="mdi {{item_hijo.icono}}"></i></span>
                                <span>{{item_hijo.nombre_menu}}</span>
                            </a>
                        </li>
                    </ul>
                </ng-container>
            </li>
        </ul>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
