<section class="req-instancia">
  <header class="req-instancia__cabecera" *ngIf="total > 1 || puedeQuitar">
    <h5 class="req-instancia__titulo">Pedido {{ indice + 1 }}</h5>
    <button
      type="button"
      class="btn-icon-outline"
      *ngIf="puedeQuitar && !soloLectura"
      title="Quitar este pedido"
      (click)="quitar.emit()"
    >
      <i class="mdi mdi-close" aria-hidden="true"></i>
    </button>
  </header>

  <div class="req-grid req-grid--documento">
    <div class="campo req-grid__ancho">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-numero'">N° Pedido SIGA</label>
      <select
        [id]="prefijo + '-numero'"
        class="campo-control"
        [class.campo-control--bloqueado]="soloLectura"
        [name]="prefijo + '-numero'"
        [ngModel]="pedido.NumeroPedido"
        (ngModelChange)="onPedidoSeleccionado($event)"
        [disabled]="soloLectura || cargandoPedidos || cargandoDetalle"
      >
        <option value="">{{ cargandoPedidos ? 'Cargando pedidos SIGA…' : 'Seleccione el N° de pedido' }}</option>
        <option *ngFor="let o of opcionesVisibles" [value]="o.NumeroPedido">
          {{ o.MotivoPedido || o.NumeroPedido }}
        </option>
      </select>
    </div>

    <div class="campo campo--corto">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-ano'">Año</label>
      <input
        [id]="prefijo + '-ano'"
        type="number"
        class="campo-control"
        [name]="prefijo + '-ano'"
        [(ngModel)]="pedido.AnoPedido"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>

    <div class="campo req-grid__resto">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-actividad'">Actividad Operativa</label>
      <input
        [id]="prefijo + '-actividad'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-actividad'"
        [(ngModel)]="pedido.ActividadOperativa"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>

    <div class="campo">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-meta'">Meta Presupuestaria</label>
      <input
        [id]="prefijo + '-meta'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-meta'"
        [(ngModel)]="pedido.MetaPresupuestaria"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>
    <div class="campo">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-ffrr'">FF/RR</label>
      <input
        [id]="prefijo + '-ffrr'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-ffrr'"
        maxlength="2"
        [(ngModel)]="pedido.FuenteFinanc"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>
    <div class="campo">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-programa'">Programa</label>
      <input
        [id]="prefijo + '-programa'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-programa'"
        [(ngModel)]="pedido.Programa"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>
    <div class="campo">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-prod'">Prod/Py</label>
      <input
        [id]="prefijo + '-prod'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-prod'"
        [(ngModel)]="pedido.ProdPy"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>
    <div class="campo">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-clasificador'">Clasificador</label>
      <input
        [id]="prefijo + '-clasificador'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-clasificador'"
        [(ngModel)]="pedido.Clasificador"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>

    <div class="campo req-grid__codigo">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-codigo'">Código Item Pedido</label>
      <input
        [id]="prefijo + '-codigo'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-codigo'"
        [(ngModel)]="pedido.CodigoItemPedido"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>
    <div class="campo req-grid__nombre">
      <label class="campo-etiqueta" [attr.for]="prefijo + '-nombre'">Nombre Item Pedido</label>
      <input
        [id]="prefijo + '-nombre'"
        type="text"
        class="campo-control"
        [name]="prefijo + '-nombre'"
        [(ngModel)]="pedido.NombreItemPedido"
        [readonly]="soloLectura"
        [class.campo-control--bloqueado]="soloLectura"
      />
    </div>
  </div>
</section>
